body{
    background-color: rgb(44, 44, 44);
}

.carrusel{
    margin-top: 5rem;
}

.subtitulo{
    color: aliceblue;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.correo{
    color: aliceblue;
}

.footer{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.margen{
    margin-bottom: 5rem;
}